Repository peterhallen/Coding-Standards: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-sensitive-data

.pre-commit-config.yaml:

# Pre-commit hooks configuration for AI Coding Standards
# Install with: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=100']

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile=black', '--line-length=100']

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--max-complexity=10']
        additional_dependencies: [flake8-docstrings]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: ['--ignore-missing-imports']

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ['--max-line-length=120', '--max-args=5']

  - repo: local
    hooks:
      - id: check-sensitive-data
        name: check sensitive data
        entry: python src/ai_coding_standards/pre_commit/sensitive_data_check.py
        language: system
        types: [text]
        files: \.(txt|md|py|json|xml|hl7)$
        exclude: ^(src/ai_coding_standards/pre_commit/sensitive_data_check\.py|tests/.*|docs/standards/PYTHON_CODING_STANDARDS\.md|docs/guides/SENSITIVE_DATA_HOOK\.md)$

fix(ci): Install package in editable mode [skip ci checks]
  .github/workflows/ci.yml
Due: none

style: Apply black formatting
  src/ai_coding_standards/debug_paths.py
  tests/test_sensitive_data_check.py
Due: pylint, check-sensitive-data

Fix text references from 'AI Coding Standards' to 'Coding Standards'
  README.md
  docs/guides/CODE_COMPLIANCE.md
  docs/guides/ONBOARDING.md
  docs/tutorials/DATA_SCIENCE_ONBOARDING.md
  pyproject.toml
  src/coding_standards/__init__.py
  src/coding_standards/cli.py
  src/coding_standards/data/pyproject.toml
Due: pylint, check-sensitive-data

Docs: Showcase security features in README
  README.md
Due: check-sensitive-data

docs: Update README to reflect support for multiple programming languages including Python, JavaScript/TypeScript, and Go.
  README.md
Due: check-sensitive-data

Docs: Add migration guide for project rename
  README.md
Due: check-sensitive-data

Docs: Add existing repo workflow to Security Scanning guide
  docs/guides/SECURITY_SCANNING.md
Due: check-sensitive-data

Docs: Add Antigravity instructions to Installation guide
  INSTALLATION.md
Due: check-sensitive-data

Fix: Correct package data include and remove duplicate CLI call
  pyproject.toml
Due: none

making the compliant code pass the tests
  .pylintrc
  tests/test_cli_helpers.py
  tests/test_debug_paths.py
  tests/test_sensitive_data_check.py
Due: pylint

Tighten lint disables for CLI to satisfy flake8 and pylint
  src/coding_standards/cli.py
  src/coding_standards/debug_paths.py
Due: pylint, check-sensitive-data

Fix four bugs in CLI module
  src/coding_standards/cli.py
Due: pylint, check-sensitive-data

Exclude examples/ from strict linting in pre-commit
  .pre-commit-config.yaml
Due: none

Format sensitive_data_check.py with Black
  src/coding_standards/pre_commit/sensitive_data_check.py
Due: pylint, check-sensitive-data

Refactor CLI to eliminate code duplication
  src/coding_standards/cli.py
Due: pylint, check-sensitive-data

Add AI coding rules for Agent OS, ChatGPT, and Copilot
  .chatgpt/instructions.md
  .github/copilot-instructions.md
  agent-os/standards/code_organization.md
  agent-os/standards/documentation_standards.md
  agent-os/standards/error_handling.md
  agent-os/standards/function_standards.md
  agent-os/standards/index.yml
  agent-os/standards/naming_conventions.md
  agent-os/standards/testing_standards.md
  src/coding_standards/cli.py
Due: pylint, check-sensitive-data

Update README with new AI platform support
  README.md
Due: check-sensitive-data

Bump version to 1.1.0
  pyproject.toml
  src/coding_standards/__init__.py
Due: pylint, check-sensitive-data

Highlight v1.1.0 features in README
  README.md
Due: check-sensitive-data

Add cx_Freeze setup script for Windows MSI installer
  setup_msi.py
Due: pylint, check-sensitive-data

Add Windows MSI installer info to README
  README.md
Due: check-sensitive-data

Exclude setup_msi.py from coverage
  pyproject.toml
Due: none

Add Claude Code support
  CLAUDE.md
  README.md
  src/coding_standards/cli.py
Due: pylint, check-sensitive-data

Add GitHub Actions workflow to build MSI on release
  .github/workflows/build-msi.yml
Due: none

Fix MSI workflow permissions for release upload
  .github/workflows/build-msi.yml
Due: none

Expand Windows MSI installation section in README
  README.md
Due: check-sensitive-data

Add configuration file support for project customization
  README.md
  pyproject.toml
  src/coding_standards/cli.py
  src/coding_standards/config.py
  src/coding_standards/data/.coding-standards.toml.template
  tests/test_config.py
Due: pylint, check-sensitive-data

Bump version to 1.2.0
  README.md
  pyproject.toml
  src/coding_standards/__init__.py
Due: pylint, check-sensitive-data
